{% extends "base.html" %}
{% block title %}
Add contact
{% endblock %}
{% block main%}
<form method="post">
    <p>Add contact:</p>
    Name: <input type="text" name="imie" value="{{name}}"/><br>
    Lastname: <input type="text" name="nazwisko" value="{{lastname}}"/><br>
    Address: <input type="text" name="adres" value="{{address}}"/><br>
    Phone number: <input type="text" name="nrtel" value="{{tel}}"/><br>
     <input type="submit" value="Submit">
</form>
<p>
<a href="/"> Back to main page</a>
</p>
{% endblock %}